/* Titles */
.st-emotion-cache-1lvxfs7 h1, .st-emotion-cache-1lvxfs7 h2, .st-emotion-cache-1lvxfs7 h3 {
    color: #5C2D91;
}

/* Wider layout */
.st-emotion-cache-yw8pof {
    max-width: 60rem;
}

/* Pie charts section */
.st-emotion-cache-ocqkz7 {
    text-align: center;
    padding-bottom: 20px;
}

/* Buttons: login/logout/browse */
div.stButton > button, .st-emotion-cache-ocsh0s:active, .st-emotion-cache-ocsh0s:focus, .st-emotion-cache-ocsh0s:focus:not(:active) {
    background-color: #754db8;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5em 1em;
}
div.stButton > button:hover, .st-emotion-cache-ocsh0s:hover {
    background-color: #5C2D91; 
    color: white;
    border-color: #5C2D91;
}

/* Year selection - dashboard */
.st-emotion-cache-151ebwt:hover {
    border-color: #754db8;
    color: #754db8;
}
.st-emotion-cache-1mw54nq {
    border-color: #5C2D91;
    color: #5C2D91;
}

.st-emotion-cache-1pvqlk0:hover {
    background-color: #F0F2F6;
    border-color: #5C2D91;
}

.st-emotion-cache-1pvqlk0 {
    background: #dccbf9;
    border: 1px solid #5C2D91;
}

/* form */
div.st-emotion-cache-abycrm div.st-ef [role="button"]:not(:disabled) {
    background-color: #5C2D91;
}


/* box borders */

.st-cc, .st-cb, .st-ca, .st-c9  {
    border-bottom-color:#5C2D91;
    border-top-color:#5C2D91;
    border-right-color:#5C2D91;
    border-left-color:#5C2D91;
}